anndata>=0.7.4
numpy>=1.17.0
matplotlib>=3.1.2
pandas>=0.21
scipy>=1.0
seaborn~=0.11.1
h5py>=2.10.0
tqdm>=4.55.0
setuptools~=40.6.2
scikit-learn>=0.21.2
numba
statsmodels~=0.12.1
leidenalg>=0.8.3
umap_learn>=0.4.6
KDEpy>=1.0.10
pysal~=2.3.0
Jinja2==2.11
tifffile~=2020.10.1
scanpy~=1.7.2
shapely~=1.7.1