dask==2022.2.0
bokeh==2.3.3
imageio==2.9.0
numpy==1.21.4
matplotlib>=3.4.2,<=3.5.2
pandas==1.3.4
scipy==1.7.3
seaborn~=0.11.1
h5py>=3.2.1,<=3.7.0
gefpy>=0.6.3
setuptools>=41.0.0,<60.0.0
numba>=0.56.0
statsmodels==0.12.1
leidenalg==0.8.10
umap-learn==0.5.1
KDEpy==1.1.0
Jinja2==3.0.3
shapely~=1.7.1
packaging==21.3
panel==0.12.1
holoviews==1.14.5
param==1.11.1
hvplot==0.7.3
colorcet==2.0.6
datashader>=0.13.0,<=0.14.1rc1
anndata==0.7.5
phenograph==1.5.7
requests~=2.26.0
urllib3==1.26.9
typing-extensions==4.3.0
natsort~=7.1.1
joblib~=1.0.1
patsy~=0.5.1
louvain==0.7.1
igraph==0.9.10
arboreto~=0.1.6
squidpy==1.2.2
xarray==0.20.1

# segmentation
albumentations==0.4.6
glog==0.3.1
slideio==0.5.225
torchvision==0.11.1
tqdm==4.60.0
scikit-learn==1.0.1
pillow==9.2.0
#opencv-python==4.5.1.48
scikit-image==0.19.0
tifffile==2021.11.2
torch==1.10.0
opencv-python>=4.5.4.58,<=4.5.5.64
tensorflow==2.7.0
tensorflow-io-gcs-filesystem==0.24.0
protobuf==3.19.4
hotspotsc==0.9.1
distributed==2022.2.0
keras==2.7.0
pyarrow==8.0.0
tables==3.7.0
spatialpandas>=0.4.4
# selenium>=4.4.3
loompy==3.0.7
gtfparse==1.2.1
harmonypy==0.0.6
