dask
bokeh
imageio
numpy
matplotlib
pandas
scipy
seaborn
h5py
gefpy
setuptools
numba
statsmodels
leidenalg
umap-learn
KDEpy
Jinja2
shapely
packaging
panel
holoviews
param
hvplot
colorcet
datashader
anndata
phenograph
requests
urllib3
typing-extensions
natsort
joblib
patsy
louvain
igraph
arboreto
squidpy
xarray

# segmentation
# albumentations
# glog
slideio
# torchvision
tqdm>=4.60.0
scikit-learn
pillow
#opencv-python
scikit-image
tifffile
# torch
opencv-python
# tensorflow
# tensorflow-io-gcs-filesystem
protobuf
hotspotsc
distributed
keras
pyarrow
tables
spatialpandas
# selenium
loompy
gtfparse
harmonypy
SQLAlchemy
fbpca
geosketch
pyscenic
onnxruntime
