setuptools
sphinx==3.1.1
sphinx-rtd-theme==0.5.0
sphinx_autodoc_typehints
ipykernel
Jinja2==2.11
nbsphinx>=0.7

nbclean
anndata>=0.7.4
numpy>=1.17.0
matplotlib>=3.1.2
pandas>=0.21
scipy>=1.0
seaborn
h5py>=2.10.0
tqdm>=4.55.0
setuptools~=40.6.2
scikit-learn>=0.21.2
numba
statsmodels~=0.12.1
leidenalg>=0.8.3
umap_learn>=0.4.6
KDEpy>=1.0.10
pysal
phenograph
