absl-py==1.0.0
alabaster==0.7.13
albumentations==0.4.6
alembic==1.9.4
anndata==0.7.5
arboreto==0.1.6
argcomplete==2.0.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asciitree==0.3.3
astunparse==1.6.3
attrs==22.2.0
Babel==2.12.1
backcall==0.2.0
bleach==6.0.0
bokeh==2.4.3
cached-property==1.5.2
cachetools==5.3.0
certifi==2021.10.8
cffi==1.15.1
charset-normalizer==2.0.12
click==8.1.3
cloudpickle==2.2.1
colorama==0.4.4
colorcet==2.0.6
commonmark==0.9.1
cryptography==36.0.1
cycler==0.11.0
Cython==3.0.0a10
dask==2022.11.1
dask-image==2021.12.0
datashader==0.14.1rc1
datashape==0.5.2
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
distributed==2022.11.1
docrep==0.3.2
docutils==0.17.1
entrypoints==0.3
fasteners==0.18
flatbuffers==2.0.7
fonttools==4.38.0
fsspec==2023.1.0
gast==0.4.0
gefpy>=0.6.24
glog==0.3.1
google-auth==2.16.1
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.51.3
h5py==3.7.0
HeapDict==1.0.1
holoviews==1.14.5
hotspot @ git+https://github.com/yoseflab/Hotspot.git@45555a0feb6cc46cb52aa09230f0ed801559bb87
hvplot==0.7.3
idna==3.3
igraph==0.9.11
imagecodecs==2021.11.20
imageio==2.9.0
imagesize==1.4.1
imgaug==0.4.0
importlib-metadata==6.0.0
importlib-resources==5.12.0
inflect==6.0.2
ipykernel==6.17.1
ipython==8.10.0
ipython-genutils==0.2.0
ipywidgets==8.0.4
jedi==0.18.1
jeepney==0.7.1
Jinja2==3.0.3
joblib==1.0.1
jsonschema==4.17.3
jupyter==1.0.0
jupyter-client==7.1.1
jupyter-console==6.4.0
jupyter-core==4.9.1
jupyterlab-widgets==3.0.5
KDEpy==1.1.0
keras==2.7.0
Keras-Preprocessing==1.1.2
keyring==23.5.0
kiwisolver==1.4.4
leidenalg==0.8.10
libclang==15.0.6.1
llvmlite==0.39.1
locket==1.0.0
louvain==0.7.1
Mako==1.2.4
Markdown==3.4.1
MarkupSafe==2.1.2
matplotlib>=3.4.2,<=3.5.3
matplotlib-inline==0.1.6
mistune==2.0.5
msgpack==1.0.4
multipledispatch==0.6.0
natsort==7.1.1
nbclean==0.3.2
nbconvert==7.2.9
nbformat==5.7.3
nbgrader==0.8.2
nbsphinx==0.8.12
nest-asyncio==1.5.4
networkx==3.0
notebook==6.4.12
numba==0.56.4
numcodecs==0.11.0
numexpr==2.8.4
numpy==1.21.6
oauthlib==3.2.2
omnipath==1.0.6
opencv-python==4.5.5.64
opt-einsum==3.3.0
packaging==21.3
pandas==1.5.3
pandocfilters==1.5.0
panel==0.13.1
param==1.12.2
parso==0.8.3
partd==1.3.0
patsy==0.5.3
pexpect==4.8.0
PhenoGraph==1.5.7
pickleshare==0.7.5
Pillow==9.2.0
PIMS==0.6.1
pkginfo==1.8.2
prometheus-client==0.12.0
prompt-toolkit==3.0.36
protobuf<3.21.0a0,>=3.20.1
psutil==5.9.0
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyct==0.4.8
Pygments==2.14.0
pynndescent==0.5.8
pyparsing==3.0.9
pyrsistent==0.19.3
python-dateutil==2.8.2
python-gflags==3.1.2
python-igraph==0.9.11
python-snappy==0.6.0
pytz==2022.7.1
pyviz-comms==2.2.0
PyWavelets==1.4.1
PyYAML==6.0
pyzmq==22.3.0
qtconsole==5.2.2
QtPy==2.0.0
rapidfuzz==2.13.7
readme-renderer==32.0
recommonmark==0.7.1
requests==2.28.2
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
retrying==1.3.4
rfc3986==2.0.0
rsa==4.9
scikit-image==0.19.0
scikit-learn==1.0.1
scikit-misc==0.1.4
scipy==1.7.3
seaborn==0.11.2
SecretStorage==3.3.1
Send2Trash==1.8.0
shapely>=2.0.0
sinfo==0.3.4
six==1.16.0
slicerator==1.1.0
slideio==0.5.225
snowballstemmer==2.2.0
sortedcontainers==2.4.0
sphinx-autodoc-typehints==1.15.2
sphinx-gallery==0.10.1
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
squidpy==1.2.2
statsmodels==0.12.2
stdlib-list==0.8.0
tables==3.7.0
tblib==1.7.0
tensorboard==2.11.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.24.0
termcolor==1.1.0
terminado==0.12.1
testpath==0.5.0
texttable==1.6.4
threadpoolctl==3.0.0
tifffile==2021.11.2
toolz==0.11.2
torch==1.10.0
torchvision==0.11.1
tornado==6.1
tqdm==4.60.0
traitlets==5.1.1
twine==3.7.1
typing-extensions==4.3.0
umap-learn==0.5.1
urllib3==1.26.9
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.2
widgetsnbextension==4.0.5
wrapt==1.13.3
xarray==0.20.2
xlrd==1.2.0
zarr==2.11.0a2
zict==2.0.0
zipp==3.7.0
setuptools>=41.0.0,<60.0.0
hotspotsc==0.9.1
keras==2.7.0
pyarrow==8.0.0
tables==3.7.0
spatialpandas>=0.4.4
loompy==3.0.7
gtfparse==1.2.1
harmonypy==0.0.6
SQLAlchemy==1.4.46
fbpca>=1.0
geosketch>=1.2
pyscenic>=0.12.1
furo==2022.12.7
Sphinx==5.3.0
onnxruntime==1.14.1
POT==0.8.1.0
pycirclize>=0.5.0
plotly>=5.15.0